<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button *ngIf="openSideBar" class="openbtn" (click)="openNav()">☰</button>
			<button *ngIf="!openSideBar" class="openbtn" (click)="closeNav()">☰</button>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li (click)="fnGoToSignupPage()" class="hoverLink"><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li (click)="fnGoToLoginPage()" class="hoverLink"><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	</div>
</div>

