<div style="padding-top:60px;" id="main">
  <div class="container-fluid">
  	<div class="col-sm-12">
  		<div class="row">
  			<div class="col-sm-6">
  				<div class="well well-lg followProfileHeight bg-gradient-warning">
  					<div class="col-sm-12">
              <div class="row">
                <div class="col-sm-8">
                  <h5>Arlene Marshall</h5>
                  <h4><span class="h5Color">@marshall</span></h4>
                  <button class="btn btn-warning">Follow</button>
                </div>
                <div class="col-sm-4">
                  <img class="img-circle" src="../../assets/impImages/faces/face-5.jpg"/>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="margin-top: 25px;">
              <div class="row">
                <div class="col-sm-4">
                  <span>Comments</span>
                  <p>15000</p>
                </div>
                <div class="col-sm-4 boderleftline">
                  <span>Posts</span>
                  <p>1300</p>
                </div>
                <div class="col-sm-4 boderleftline">
                  <span>Followers</span>
                  <p>4000</p>
                </div>
              </div>
            </div>
  				</div>
  			</div>
  			<div class="col-sm-6">
  				<div class="well well-lg followProfileHeight bg-gradient-warning-success">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-8">
                  <h5>Arlene Marshall</h5>
                  <h4><span class="h5Color">@marshall</span></h4>
                  <button class="btn btn-warning">Follow</button>
                </div>
                <div class="col-sm-4">
                  <img class="img-circle" src="../../assets/impImages/faces/face-6.jpg"/>
                </div>
              </div>
            </div>
            <div class="col-sm-12" style="margin-top: 25px;">
              <div class="row">
                <div class="col-sm-4">
                  <span>Comments</span>
                  <p>90900</p>
                </div>
                <div class="col-sm-4 boderleftline">
                  <span>Posts</span>
                  <p>700</p>
                </div>
                <div class="col-sm-4 boderleftline">
                  <span>Followers</span>
                  <p>5680</p>
                </div>
              </div>
            </div>
          </div>
  			</div>	
  		</div>
  	</div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="well well-lg followProfileHeight bg-gradient-info">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <img class="img-circle" src="../../assets/impImages/faces/face-4.jpg"/>
                </div>
                <div class="col-sm-5">
                  <h3><span>Vishu Garu</span></h3>
                  <span class="textRedColor">Profile</span>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-primary">Contact</button>
                </div>
              </div>
              <div class="row">
                <h6>Friends</h6>
                <img src="../../assets/impImages/faces/face-3.jpg" width="50" height="50" />
                <img class="imgMargin" src="../../assets/impImages/faces/face-4.jpg" width="50" height="50"/>
                <img class="imgMargin" src="../../assets/impImages/faces/face-5.jpg" width="50" height="50"/>
                <img class="imgMargin" src="../../assets/impImages/faces/face-6.jpg" width="50" height="50"/>
                <strong class="imgMargin imgCount">
                  <small>+10</small>
                </strong>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well well-lg followProfileHeight bg-gradient-primary">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <img class="img-circle" src="../../assets/impImages/faces/face-2.jpg"/>
                </div>
                <div class="col-sm-5">
                  <h3><span>Raul Palmer</span></h3>
                  <span class="textRedColor">Profile</span>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-primary">Contact</button>
                </div>
              </div>
              <div class="row">
                <h6>Friends</h6>
                <img src="../../assets/impImages/faces/face-3.jpg" width="50" height="50" />
                <img class="imgMargin" src="../../assets/impImages/faces/face-4.jpg" width="50" height="50"/>
                <img class="imgMargin" src="../../assets/impImages/faces/face-5.jpg" width="50" height="50"/>
                <img class="imgMargin" src="../../assets/impImages/faces/face-6.jpg" width="50" height="50"/>
                <strong class="imgMargin imgCount">
                  <small>+5</small>
                </strong>
                <button class="btn btn-danger pull-right">Invite</button>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="well well-lg commentsProfileHeight">
            <p>15000</p>
            <span>Comments</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well well-lg commentsProfileHeight OragneColor">
            <p>15,350</p>
            <span>Requests</span>
          </div>
        </div>  
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="well well-lg designProfileHeight color-indigo-400">
            <p>DESIGN</p>
            <span>Nunc posuere as loca.</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well well-lg designProfileHeight color-blue-400">
            <p>DEVELOPMENT</p>
            <span>Nunc posuere as loca.</span>
          </div>
        </div> 
        <div class="col-sm-4">
          <div class="well well-lg designProfileHeight color-red-400">
            <p>CONCEPT</p>
            <span>Nunc posuere as loca.</span>
          </div>
        </div> 
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="well well-lg designProfileHeight color-red-400-background">
            <p>DEVELOPMENT</p>
            <span>24%</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well well-lg designProfileHeight color-blue-400-background">
            <p>DESIGN</p>
            <span>32%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="well well-lg designProfileHeight color-red-500-background">
            <p>DEVELOPMENT</p>
            <span>140 hs</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well well-lg designProfileHeight color-red-600-background">
            <p>Upgrade costs</p>
            <span>$ 11,500</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="well well-lg followProfileHeight bg-gradient-success">
            <h2>1500</h2>
            <h3>Coding hours</h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well well-lg followProfileHeight bg-gradient-info">
            <h2>730</h2>
            <h3>members</h3>
          </div>
        </div>  
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="well well-lg followProfileHeight bg-gradient-primary-new">
            <h4>Cups of Coffee</h4>
            <h2 class="h2Color">150</h2>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well well-lg followProfileHeight bg-gradient-warning">
            <h4>Projects</h4>
            <h2 class="h3Color">125</h2>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>