.viewButton {
	margin-left: 20px;
    border: 0;
    background: linear-gradient(135deg,#36c638 0,#2196f3 100%)!important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 18px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 18px;
    color: #fff;
}

.wellLgHeight {
	height: 478px;	
	background: #fff;
}

.contentMapHeight {
	height: 330px;
	background: #fff;
}

.wellHeight1 {
	height: 500px;
	background: #fff;
}

.wellHeight2 {
	height: 330px;
	background: #fff;
}

.wellSmHeight {
	height: 170px;
	background: #fff;
}

.messagebutton {
	border: 0;
    background: linear-gradient(135deg,#673ab7 0,#2196f3 100%)!important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 18px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 18px;
    color: #fff;
}

.selectWidth {
	width: 200px;
}

.textPaddingTop {
	padding-top: 20px;
}

.imgPaddingTop {
	margin-top: 15px;
}

.inprogressMargin {
	margin-top: 19px;
	background-color: blue;
}

.completeMargin {
	margin-top: 19px;
	background-color: green;
}

.canceledMargin {
	margin-top: 19px;
	background-color: red;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
    border-color: rgba(162,162,162,.16);
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    padding: 0 18px 8px!important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.followMargin {
    margin-top: -114px;
}