body {
  margin: 0;
  background-color: #43bcbc;
}

.paddingClass {
  padding-top: 35px;
}

.paddingNavbarClass {
  padding-top: 50px;
}

.navbarUlClass{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-image: url("assets/impImages/sidebar-5.jpg");
}

.navbarUlClass li a{
  display: block;
  color: #000;
  padding: 30px 16px 15px 30px;
  text-decoration: none;
}

.navbarUlClass li a.active{
  color: white;
  background-color: #999;
}

.hoverLink {
  cursor: pointer;
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-image: url("assets/impImages/sidebar-5.jpg");
}

.sidebar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar li a{
  display: block;
  color: #000;
  padding: 30px 16px 15px 30px;
  text-decoration: none;
}

.sidebar li a.active{
  color: white;
  background-color: #999;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}